.thumbnail {
    width: 110px;
    height: 110px;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid grey;
  }

  .label {
    color: white;
    padding: 8px;
    border-radius: 10%;
  }

  .other {background-color: #e7e7e7; color: black;}