
<div class="container col-6 mt-4">

<!-- <app-input-filter [searchBy]="name" (searchInput)="searchName($event)"></app-input-filter> -->
<!-- <app-input-filter [searchBy]="tag" (searchInput)="searchTag($event)"></app-input-filter> -->

<div class="form-inline">
  <input type="text" class="form-control mr-2" style="width: 700px;" placeholder="search by name"
  [(ngModel)]="searchString"  (input)="searchTag(searchString)" />
</div>
<div class="form-inline">
  <input type="text" class="form-control mr-2" style="width: 700px;" placeholder="search by name"
  [(ngModel)]="searchString2" (input)="searchTag(searchString2)" />
</div>
 
<div *ngFor="let student of students | filter : searchByName || searchByTag">
    
  <app-student-card [student]="student" (submitted)="onSubmitted($event)">
     </app-student-card>

</div>
</div>